div {
	border-radius:2px;
}
#header {
	z-index:1;
	position: fixed;
	border: 1px solid black;
	width: 90%;
	height: 40px;
	background-color: gray;
	margin-top: -10px;
	margin-bottom: 10px;
}
#header p {
	padding-left: 2px;
	padding-top: 2px;
	font-size: 16px;
	font-weight: bold;
	font-style: Verdana;
	color: #ffffff;
}
#sidebar {
	position:relative;
	float: left;
	border: 1px solid black;
	width: 10%;
	height: 200px;
	background-color: #ffffff;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
}
ul li a {
		display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
}
ul li a:hover {
	color: #fff;
	background:#939393;
}
#email {
	position:relative;
	float:left;
	border: 1px solid black;
	height: 2000px;
	width: 80%;
	background-color: green;
	margin-top: 40px;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-right: 0px;
}
.email {
	background-color: gray;
	border: 1px dashed black;
}