div {
	border-radius:2px;
}
#header {
/*	position: fixed;*/
	border: 1px solid black;
	width: 90%;
	height: 5%;
	background-color: gray;
	margin: auto;
}
#header h1 {
	padding-left: 2px;
	padding-top: 2px;
  margin-bottom: 2px;
	font-size: 16px;
	font-weight: bold;
	font-style: Verdana;
	color: #ffffff;
}
#sidebar {
	position:fixed;
	border: 1px solid black;
	width: 20%;
	height: 15%;
	background-color: #ffffff;
	margin-top: 3%;
	margin-left: 14%;
}
ul li a {
		display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
}
ul li a:hover {
	color: #fff;
	background:#939393;
}

#subject {
  color: #222;
  background: gray;
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

#message {
  position:relative;
  border: 1px solid black;
  width: 50%;
  background-color: #F0FFFF;
  margin-top: 3%;
  margin-left: 35%;
}

#emails {
  border: 1px solid black;
}

#content {
  display: none;
}